body{
    background-color: bisque;
}
 .cabeçalho-titulo {
    font-size: 50px;
    color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pincipal { background-image}

